---
layout: default
---

<div class='row mg-bottom-lg'>
  <div class="col-md-4">
    <p>Macoupin County’s online source for finding businesses, local governments and community services.</p>

    <div class='row'>
      <div class="col-md-8">
        <div class="form-group">
            Address
            <input class='form-control' id='search-address' placeholder='Enter an address or an intersection' type='text'>
        </div>
      </div>

      <div class="col-md-4">
        <div class='form-group'>
            Within
            <select id='search-radius' class='form-control'>
              <option value='400'>2 blocks</option>
              <option value='805'>1/2 mile</option>
              <option value='1610'>1 mile</option>
              <option value='3220'>2 miles</option>
              <option value='8050'>5 miles</option>
            </select>
        </div>
      </div>
    </div>

    <div>
      <button class='btn btn-search' id="btnSearch"><i class='fa fa-search'></i> Search</button>
      <a href="/" class='btn btn-reset' id="btnReset" data-toggle="tooltip" data-placement="bottom" title="Reset"><i class="fa fa-repeat" aria-hidden="true"></i></a>
      <button class='btn btn-change' id='btnViewMode' data-toggle='tooltip' data-placement="bottom" title='Change view'><i class='fa fa-list'></i></button>
    </div>

  </div>

  <div class='col-md-8'>
    <div id='mapCanvas' style="display: block; height: 1000px;"></div>
    <div id="listCanvas" style="display: none">
      <h2 class='list-header hidden-xs'>Search results</h2>
      <table class="table list-table table-striped">
        <thead>
          <tr>
            <th class='hidden-xs'></th>
            <th>Name</th>
            <th class='hidden-xs'>Address</th>
            <th class='hidden-xs'>Contact</th>
            <th class='hidden-xs'>Description</th>
          </tr>
        </thead>
        <tbody id='results-list'></tbody>
      </table>
    </div>
  </div>

</div>

{% include modal.html %}

{% include save-search-modal.html %}

<style id="maps-styles">
  #my-map{
    marker-fill-opacity: 0.9;
    marker-line-color: #FFF;
    marker-line-width: 1;
    marker-line-opacity: 1;
    marker-placement: point;
    marker-type: ellipse;
    marker-width: 15;
    marker-fill: #3E7BB6;
    marker-allow-overlap: true;
  }
</style>

<script type="text/javascript" src="/js/map.js"></script>





